webhook/
__pycache__/
hookt/
.gitignore
answer.json
artem_10.py
artem_11.py
creed.json
flask_ex.py
fsm_data.json
get-pip.py
index_task4.html
a1.py
ngrok.exe
ngrok.yml
keyboards.py
lib.py
lib.txt
main_task4.css
main.css
model.py
ngrok_script.py
parser_text.py
reg_ex.py
test.py
t.py
testn.py
usb_test.py
zip_open.py
test/
tes/